<form method="post">
  <div class="mb-3">
    <label for="search" class="form-label">search</label>
    <input type="text" name="search" class="form-control" id="search" />

  </div>
  <input class="btn btn-primary" class="submit" type="submit" value="Send" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>